fastecdsa~=2.2.1
icecream~=2.1.1
base58~=0.2.2
pygame==2.5.2
mnemonic==0.20
bitcoinlib==0.6.12
pycryptodome==3.19.1
pyotp==2.9.0
qrcode==7.4.2
Pillow==10.3.0
filelock==3.13.1
reportlab==4.0.8
ttkbootstrap==1.10.1
tkinter-tooltip==3.1.0
continuous-threading==2.0.6
argostranslate==1.9.6
deep-translator==1.11.4